@keyframes mymove {
  from {
    left: -15px;
  }
  to {
    left: 0%;
  }
}

.button {
  background-color: var(--color-blanched-almond); /* Green */
  color: black;
  font-size: 16px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  display: inline-block;
  display: flex;
  align-items: center;
  row-gap: 10px;
  column-gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px 1px black;
}

.button:hover .buttonText,
.button:hover .buttonIcon {
  transform: scale(1.2);
  cursor: pointer;
}

.buttonIcon {
  text-align: left;
}

.buttonText {
  text-align: right;
  position: relative;
  animation: mymove 1s 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
