:root {
  background-color: rgba(202, 244, 244, 1);
}

/* Shapes */
.round {
  border-radius: 2rem;
}

.roundTop {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.roundBottom {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* Shadows */
.popShadow {
  box-shadow: 0.1rem 0.1rem 0.1rem black;
}

/* Colors */
.bgWater,
.bgWaterHover:hover {
  background-color: rgba(202, 244, 244, 0.5);
}

.bgIvory,
.bgIvoryHover:hover {
  background-color: rgba(252, 255, 233, 0.5);
}

.bgBlanchedAlmond,
.bgBlanchedAlmondHover:hover {
  background-color: rgba(255, 242, 204, 0.5);
}

.bgPalePink,
.bgPalePinkHover:hover {
  background-color: rgba(253, 224, 217, 0.5);
}

.bgTeaGreen,
.bgTeaGreenHover:hover {
  background-color: rgba(202, 239, 209, 0.5);
}

/* Grids */
.grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.grid > * {
  margin: 2rem;
}

/* Grid Sizes */
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* Grid Columns Sizes */
.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Grid Row Sizes */
.grid-rows-1 {
  grid-template-rows: repeat(1, 1fr);
}

.grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}

.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.grid-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

/* Grid Col Start */
.grid-col-start-2 {
  grid-column: 2;
}
