:root {
  background-color: black;
}

/* Shapes */
.round {
  border-radius: 2rem;
}

.roundTop {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.roundBottom {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* Shadows */
.popShadow {
  box-shadow: 0.1rem 0.1rem 0.1rem black;
}

/* Colors */
.bgWater,
.bgWaterHover:hover {
  background-color: rgba(202, 244, 244, 0.5);
}

.bgIvory,
.bgIvoryHover:hover {
  background-color: rgba(252, 255, 233, 0.5);
}

.bgBlanchedAlmond,
.bgBlanchedAlmondHover:hover {
  background-color: rgba(255, 242, 204, 0.5);
}

.bgPalePink,
.bgPalePinkHover:hover {
  background-color: rgba(253, 224, 217, 0.5);
}

.bgTeaGreen,
.bgTeaGreenHover:hover {
  background-color: rgba(202, 239, 209, 0.5);
}
