---
---

// Base Variables
$base: #181A1B
$base-text: #ffffff

// Navbar Variables
$nav-width: 50px
$nav-background: #4B513F

// Main Variables
$main-left-margin: 10%
$main-padding: 1px 16px
$main-height: 100%

// Table Variables
$table-data-padding: 5px
$table-padding-right: $main-left-margin
$github-logo-min-width: 32px
$github-logo-max-width: 64px
$image-min-width: 250px
$image-max-width: 75%
$image-max-height: 400px

// Class selectors
.nav
  ul
    margin: 0
    padding: 0
    width: $nav-width
    background-color: $nav-background
    position: fixed
    height: 100%
    overflow: auto

  li a
    display: block
    padding: 8px 16px

    &.active
      background-color: lighten($nav-background, 20)
      color: white

    &:hover:not(.active)
      background-color: darken($nav-background, 10)
      color: $base-text

// Element selectors
html
  background: $base

body
  margin: 0

main
  color: $base-text
  margin-left: $main-left-margin
  padding: $main-padding
  height: $main-height

svg
  background-color: $base-text

table
  border-spacing: 0
  padding-right: $table-padding-right
  
  td
    border: 1px solid rgba($base-text, .1)
    padding: $table-data-padding

  th
    background-color: rgba( invert($base), .5 )

  tr
    background-color: rgba( invert($base), .2 )
    &:nth-child(even)
      background-color: rgba( invert($base), .1 )
      
    &:first-child td
      border-top: 0

    td:first-child
      border-left: 0
      font-weight: bold

    &:last-child td
      border-bottom: 0

    td:last-child
      border-right: 0

    img
      min-width: $image-min-width
      max-width: $image-max-width
      max-height: $image-max-height

    img[alt="GitHub Link"]
      min-width: $github-logo-min-width
      max-width: $github-logo-max-width