:root {
  --color-water: #caf4f4;
  --color-ivory: #fcffe9;
  --color-blanched-almond: #fff2cc;
  --color-pale-pink: #fde0d9;
  --color-tea-green: #caefd1;
  background-image: url(/public/background.svg);
}
